<% include partials/header %>

    <!-- Display Fault Ticket Details -->

    
    <section id="newJob" class="boxDialog">
        <section class="jobDetails">
            <a href="/" title="Close" class="close">X</a>
                <div class="siteDetails">
                    <div class="divider">
                        <div class="form-group"><label for="jobRef">Job Ref</label> <input type="text" name="fault[jobRef]" value="<%= fault.jobRef %>" disabled /></div>
                        <div class="form-group"><label for="results">MPRN</label> <input type="text" name="mprn[mprn]" value="<%= mprn.mprNo %>" /></div>
                        <div class="form-group"><label for="supplier">Supplier</label> <input type="text" name="mprn[supplier]" value="<%= mprn.supplier %>" /></div>
                    </div>
                    <div class="divider">
                        <div class="form-group"><label for="siteName">Site Name</label> <input type="text" name="mprn[siteName]" value="<%= mprn.siteName %>" /></div>
                        <div class="form-group"><label for="buildingNo">Building No</label> <input type="text" name="mprn[buildingNo]" value="<%= mprn.buildingNo %>" /></div>
                        <div class="form-group"><label for="streetAddress">Street (Line 1)</label> <input type="text" name="mprn[streetAddress1]" value="<%= mprn.streetAddress %>" /></div>
                        <div class="form-group"><label for="streetAddress2">Street (Line 2)</label><input type="text" name="mprn[streetAddress2]" value="<%= mprn.secondAddress %>" /></div>
                    </div>
                    <div class="divider">
                        <div class="form-group"><label for="town">Town/City</label><input type="text" name="mprn[townCity]" value="<%= mprn.townCity %>" /></div>
                        <div class="form-group"><label for="postCode">Post Code</label><input type="text" name="mprn[postCode]" value="<%= mprn.postCode %>" /></div>
                        <div class="form-group"><label for="siteContact">Site Contact</label><input type="text" name="mprn[siteContact]" value="<%= mprn.siteContactName %>" /></div>
                        <div class="form-group"><label for="contactNo">Contact No.</label><input type="text" name="mprn[contactNo]" value="<%= mprn.siteContactNo %>" /></div>
                    </div> 
                    <div class="divider">
                        <button class="btn btn-sm btn-warning buttonSize">Unlock</button>
                        <button class="btn btn-sm btn-danger buttonSize">Delete</button>
                    </div>
                </div>
                <hr>
                <div class="assetDetails">
                    <div class="divider">
                        <div class="form-group"><label for="msn">Meter Serial</label><input type="text" name="mprn[msn]" value="<%= mprn.msn %>" /></div>
                        <div class="form-group"><label for="meterModel">Meter Model</label><input type="text" name="mprn[meterModel]" value="<%= mprn.meterModel %>" /></div>
                        <div class="form-group"><label for="meterMake">Meter Make</label><input type="text" name="mprn[meterMake]" value="<%= mprn.meterMake %>" /></div>
                    </div>
                    <div class="divider">
                        <div class="form-group"><label for="meterType">Meter Type</label><input type="text" name="mprn[meterType]" value="<%= mprn.meterType %>" /></div>
                        <div class="form-group"><label for="admSerial">ADM Serial</label><input type="text" name="mprn[admSerial]" value="<%= mprn.admSerial %>" /></div>
                        <div class="form-group"><label for="admImei">ADM IMEI</label><input type="text" name="mprn[admImei]" value="<%- mprn.admImei %>" /></div>
                    </div>
                    <div class="divider">
                        <form action="/tickets/<%= fault._id %>?_method=PUT" method="POST">
                        <div class="form-group"><label for="meterRead">Meter Read</label><input type="text" name="fault[meterRead]" value="<%= fault.meterRead %>" /></div>
                            <% if(!currentUser) { %>
                                <div class="form-group"><label for="user">User</label><input type="text" name="user" /></div>
                                <% } else { %>
                                    <div class="form-group"><label for="user">User</label><input type="text" name="user" value="<%= currentUser.username %>" /></div>
                                <% } %>
                    </div>
                    <div class="divider">
                        <button class="btn btn-sm btn-warning buttonSize">Update</button>
                    </div>
                </div>

                    <hr>
                        <div class="visitDetails">
                            <div class="visitBoxes">
                                <div class="form-group">
                                    <label>Visit Category: </label>
                                    <input id="signal" type="radio" name="fault[faultCat]" value="Signal" <% if(fault.faultCat == "Signal"){ %> checked="checked" <% } %> /><label for="signal">Signal</label>
                                    <input id="read-escalate" type="radio" name="fault[faultCat]" value="Read/Escalate" <% if(fault.faultCat == "Read/Escalate"){ %> checked="checked" <% } %> /><label for="read-escalate">Read/Escalate</label>
                                    <input id="read-required" type="radio" name="fault[faultCat]" value="Read Required" <% if(fault.faultCat == "Read Required"){ %> checked="checked" <% } %> /><label for="read-required">Read Required</label>
                                    <input id="install" type="radio" name="fault[faultCat]" value="Install" <% if(fault.faultCat == "Install"){ %> checked="checked" <% } %> /><label for="install">Install</label>
                                    <input id="removal" type="radio" name="fault[faultCat]" value="Removal" <% if(fault.faultCat == "Removal"){ %> checked="checked" <% } %> /><label for="removal">Removal</label>
                                </div>
                            </div>
                            <label class="notesMargin">Notes:</label>
                            <div class="visitComments">
                                <% fault.comments.forEach(function(comment){ %>
                                    <div class="row VisitCommentsText">
                                        <div class="col-md-9"><i class="far fa-comment-alt"></i><%= comment.text %></div>
                                        <div class="col-md-3"><em class="pull-right">Added by:&emsp;<strong><%= comment.dmAuthor.username %></strong></em></div>
                                    </div>
                                <% }); %>
                            </div>
                            <div class="visitNotes">
                                <textarea id="faultNotes" name="comment[text]" rows="4"></textarea>
                            </div>
                            <div class="pull-right-buttons">
                                    <a class="btn btn-md btn-warning" href="/"> Back </a>
                                    <button class="btn btn-md btn-success">Update Job</button>
                    </form>
                            </div>
                </div>
            </form>
        </section>  
    </section>
    <% include partials/footer %>