<% include ../partials/header %>

<div class="jumbotron boxed">
  <div class="resultsGrid">
    <div class="resultsHeader">
      <div class="row">
        <div class="col-md-1">Job Ref</div>
        <div class="col-md-1">Mprn</div>
        <div class="col-md-2">Fault Category</div>
        <div class="col-md-1">Meter Serial</div>
        <div class="col-md-2">ADM Serial</div>
        <div class="col-md-3">Site Name</div>
        <div class="col-md-1">Post Code</div>
        <div class="col-md-1">Status</div>
      </div>
    </div>
    <% faults.forEach(function(results){ %>
    <div class="row resultsBorder">
      <!-- <div class="col-md-1"><a id="jobRefLink" href="/search/<%= results._id %>"><%=results.jobRef %></a></div> -->

      <div class="col-md-1"><%=results.jobRef %></div>
      <div class="col-md-1"><%=results.mprNo %></div>
      <div class="col-md-2"><%= results.faultCat %></div>
      <div class="col-md-1"><%= results.msn %></div>
      <div class="col-md-2"><%= results.admSerial %></div>
      <div class="col-md-3"><%= results.siteName %></div>
      <div class="col-md-1"><%= results.postCode %></div>
      <div class="col-md-1"><%= results.status %></div>
    </div>
    <% }) %>
  </div>
  <div class="row alignResultsButton">
    <a class="btn btn-danger btn-lg pull-right" href="/">Back</a>
  </div>
</div>

<% include ../partials/footer %>
